body {
  background: rgb(255,177,177);
}
h1 {
  text-align: center;
}
h2{
 text-align: center; 
}
ul {
  text-align: center;
}
header {
  text-align:center;
  background-size:cover;
  background: url('https://lh3.google.com/u/0/d/0B5RQLJ2InMtIWjQtUE40TlhmZ3M=w1069-h852-iv1');

}
